{% extends "base.html" %}
{% block title %}
    {{ supplier.name }} | {{ super }}
{% endblock title %}
{% block main %}
    <div class="container mx-auto p-6">
        <nav class="flex mb-6" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                <li class="inline-flex items-center">
                    <a href="{% url 'dashboard_index' %}"
                       class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                        <svg class="w-4 h-4 me-2.5"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor"
                             viewBox="0 0 20 20">
                            <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                        </svg>
                        <a href="{% url 'purchase_index' %}"
                           class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Suppliers</a>
                    </div>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1"
                             aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 6 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
                        </svg>
                        <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">{{ supplier.name }}</span>
                    </div>
                </li>
            </ol>
        </nav>
        <div class="flex flex-col md:flex-row md:justify-between items-center mb-6">
            <h1 class="text-3xl font-bold text-gray-800 mb-4 md:mb-0">{{ supplier.name | upper }}</h1>
            <div class="space-x-4">
                <p class="inline-block text-xl text-green-600 font-semibold">Payment To Be Made: {{ payment_to_be_made }}</p>
                <p class="inline-block text-xl text-blue-600 font-semibold">Payments Made: {{ payments_made_amount }}</p>
                <p class="inline-block text-xl text-red-600 font-semibold">Payment Remaining: {{ payment_remaining }}</p>
            </div>
        </div>
        <hr class="mb-8">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-semibold">Invoices</h2>
            <div class="relative">
                <input type="text"
                       id="invoiceSearch"
                       placeholder="Search Invoices..."
                       class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                       onkeyup="searchInvoices()">
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-400"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">Invoice Number</th>
                        <th scope="col" class="px-6 py-3">Purchase Date</th>
                        <th scope="col" class="px-6 py-3">Total Amount</th>
                        <th scope="col" class="px-6 py-3">Received Date</th>
                    </tr>
                </thead>
                <tbody id="invoiceList">
                    {% for invoice in supplier_invoice %}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <td class="px-6 py-4 text-blue-600 hover:underline">
                                <a href="{% url 'purchase_detail' invoice.id %}">{{ invoice.invoice_number }}</a>
                            </td>
                            <td class="px-6 py-4">{{ invoice.purchase_date | date }}</td>
                            <td class="px-6 py-4">${{ invoice.total_amount }}</td>
                            <td class="px-6 py-4">{{ invoice.received_date | date }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="px-6 py-4 text-red-500 text-lg">No Invoices</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if supplier_invoice.has_other_pages %}
            <div class="mt-6">
                <nav aria-label="Page navigation">
                    <ul class="inline-flex items-center -space-x-px">
                        {% if supplier_invoice.has_previous %}
                            <li>
                                <a href="?page={{ supplier_invoice.previous_page_number }}"
                                   class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for page_num in supplier_invoice.paginator.page_range %}
                            {% if supplier_invoice.number == page_num %}
                                <li>
                                    <span class="px-3 py-2 leading-tight text-blue-600 bg-blue-50 border border-gray-300">{{ page_num }}</span>
                                </li>
                            {% elif page_num > supplier_invoice.number|add:'-3' and page_num < supplier_invoice.number|add:'3' %}
                                <li>
                                    <a href="?page={{ page_num }}"
                                       class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">{{ page_num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if supplier_invoice.has_next %}
                            <li>
                                <a href="?page={{ supplier_invoice.next_page_number }}"
                                   class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
        <hr class="my-8">
        <div>
            <h2 class="text-2xl font-semibold mb-6">Payments Made</h2>
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Amount</th>
                            <th scope="col" class="px-6 py-3">Payment Method</th>
                            <th scope="col" class="px-6 py-3">Date</th>
                            <th scope="col" class="px-6 py-3">Transaction ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments_made %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="px-6 py-4">${{ payment.amount }}</td>
                                <td class="px-6 py-4">{{ payment.payment_method | upper }}</td>
                                <td class="px-6 py-4">{{ payment.payment_date | date }}</td>
                                <td class="px-6 py-4">{{ payment.transaction_id }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="px-6 py-4 text-red-500 text-lg">No Payments Made</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if payments_made.exists %}
            <div class="mt-12">
                <h2 class="text-2xl font-semibold mb-6">Payment Chart</h2>
                <div id="paymentChart" class="w-full max-w-lg mx-auto"></div>
            </div>
            <script>
            document.addEventListener('DOMContentLoaded', function () {
                var options = {
                    series: [{{ payments_made_amount|stringformat:"s" }}, {{ payment_remaining|stringformat:"s"}}],
                    chart: {
                        type: 'donut',
                        width: '100%'
                    },
                    labels: ['Payment Made', 'Total Remaining'],
                    colors: ['#4CAF50', '#FF6347'],
                    responsive: [{
                        breakpoint: 640,
                        options: {
                            chart: {
                                width: 300
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }]
                };

                var chart = new ApexCharts(document.querySelector("#paymentChart"), options);
                chart.render();
            });

            function searchInvoices() {
                let input = document.getElementById('invoiceSearch').value.toUpperCase();
                let invoiceList = document.getElementById('invoiceList');
                let invoices = invoiceList.getElementsByTagName('tr');

                for (let i = 0; i < invoices.length; i++) {
                    let invoiceNumber = invoices[i].getElementsByTagName('td')[0];
                    if (invoiceNumber) {
                        let txtValue = invoiceNumber.textContent || invoiceNumber.innerText;
                        if (txtValue.toUpperCase().indexOf(input) > -1) {
                            invoices[i].style.display = "";
                        } else {
                            invoices[i].style.display = "none";
                        }
                    }
                }
            }
            </script>
        {% endif %}
    </div>
{% endblock main %}
