{% extends "base.html" %}
{% block title %}
    {{ supplier.name }}
{% endblock title %}
{% block main %}
    <div class="container mx-auto p-6">
        <div class="flex flex-col md:flex-row md:justify-between items-center mb-6">
            <h1 class="text-3xl font-bold text-gray-800 mb-4 md:mb-0">
                <a href="{% url 'supplier_edit' supplier.id %}">Edit</a>
                {{ supplier.name | upper }}
            </h1>
            <div class="space-y-2 md:space-y-0 md:space-x-4">
                <p class="text-xl text-yellow-600 font-semibold">Payment To Be Made: {{ payment_to_be_made }}</p>
                <p class="text-xl text-green-600 font-semibold">Payments Made: {{ payments_made_amount }}</p>
                {% if advance_made_amount %}
                    <p class="text-xl text-teal-600 font-semibold">Advanced Paid: {{ advance_made_amount }}</p>
                {% else %}
                    <p class="text-xl text-red-600 font-semibold">Remaining Payment: {{ payment_remaining }}</p>
                {% endif %}
            </div>
        </div>
        <hr class="mb-8">
        <div class="flex justify-between items-center mb-6">
            <h2 class="text-2xl font-semibold">Invoices</h2>
            <div class="relative">
                {% include "partials/_search.html" with search_input="invoice_search" table_id="invoice_table" %}
                <span class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-400"
                         xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                    </svg>
                </span>
            </div>
        </div>
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500" id="invoice_table">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">Invoice Number</th>
                        <th scope="col" class="px-6 py-3">Purchase Date</th>
                        <th scope="col" class="px-6 py-3">Total Amount</th>
                        <th scope="col" class="px-6 py-3">Received Date</th>
                    </tr>
                </thead>
                <tbody id="invoiceList">
                    {% for invoice in supplier_invoice %}
                        <tr class="bg-white border-b">
                            <td class="px-6 py-4 text-blue-600 hover:underline">
                                <a href="{% url 'purchase_detail' invoice.id %}">{{ invoice.invoice_number }}</a>
                            </td>
                            <td class="px-6 py-4">{{ invoice.purchase_date | date }}</td>
                            <td class="px-6 py-4">${{ invoice.total_amount }}</td>
                            <td class="px-6 py-4">{{ invoice.received_date | date }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="px-6 py-4 text-red-500 text-lg">No Invoices</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <hr class="my-8">
        <div>
            <h2 class="text-2xl font-semibold mb-6">Payments Made</h2>
            <div class="pb-2">
                {% include "partials/_search.html" with search_input="payment_search" table_id="payment_made" %}
            </div>
            <div class="relative overflow-x-auto">
                <table id="payment_made" class="w-full text-sm text-left text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3">Amount</th>
                            <th scope="col" class="px-6 py-3">Payment Method</th>
                            <th scope="col" class="px-6 py-3">Date</th>
                            <th scope="col" class="px-6 py-3">Transaction ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in payments_made %}
                            <tr class="bg-white border-b">
                                <td class="px-6 py-4">${{ payment.amount }}</td>
                                <td class="px-6 py-4">{{ payment.payment_method | upper }}</td>
                                <td class="px-6 py-4">{{ payment.payment_date | date }}</td>
                                <td class="px-6 py-4">{{ payment.transaction_id }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="px-6 py-4 text-red-500 text-lg">No Payments Made</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if payments_made.exists %}
            <div class="mt-12">
                <h2 class="text-2xl font-semibold mb-6">Payment Chart</h2>
                <div id="paymentChart" class="w-full max-w-lg mx-auto"></div>
            </div>
            <script>
        document.addEventListener('DOMContentLoaded', function () {
            var options = {
                series: [
                    {{ payments_made_amount | floatformat:"2g" }},
            {{ payment_remaining | floatformat:"2g" }},
        ],
            chart: {
            type: 'donut',
            width: '100%'
        },
            labels: ['Payment Made', 'Total Remaining'],
            colors: ['#4CAF50', '#FF6347'],
            responsive: [{
                breakpoint: 640,
                options: {
                    chart: {
                        width: 300
                    },
                    legend: {
                        position: 'bottom'
                    }
                }
            }]
    };

        var chart = new ApexCharts(document.querySelector("#paymentChart"), options);
        chart.render();
});
            </script>
        {% endif %}
    </div>
{% endblock main %}
