<div class="flex flex-col items-center p-4 bg-gray-100 rounded-lg shadow-md w-full">
    <p class="cliptext text-lg font-mono bg-gray-200 p-4 rounded w-full text-center mb-4">
        {{ api }}
    </p>
    <div class="flex justify-between w-full">
        <button id="copy"
            class="bg-blue-500 hover:bg-blue-600 p-4 w-full rounded text-white font-semibold transition duration-300 mr-2">
            Copy
        </button>
        <button id="generate" u:click="refresh_api_key"
            class="bg-green-500 hover:bg-green-600 p-4 w-full rounded text-white font-semibold transition duration-300 ml-2">
            Refresh
        </button>
        <p u:loading>Loading</p>
    </div>

    <script>
        document.getElementById('copy').onclick = function () {
            const clipText = document.querySelector(".cliptext").innerText;
            navigator.clipboard.writeText(clipText).then(() => {
                alert('Text copied to clipboard');
            }).catch(err => {
                console.error('Failed to copy text: ', err);
            });
        }
    </script>
</div>