<div class="space-y-6 bg-white p-6 rounded-lg shadow-md">
    <!-- Supplier Selection -->
    {% if bank_balance %}
        {% if bank_balance < supplier_remaining_balance %}
            <div class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
                 role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="currentColor"
                     viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">Warning alert!</span> THe Balance is Low for the transaction the payment will be recorded as partial
                </div>
            </div>
        {% endif %}
    {% endif %}
    {% if cash_balance %}
        {% if cash_balance < supplier_remaining_balance %}
            <div class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
                 role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3"
                     aria-hidden="true"
                     xmlns="http://www.w3.org/2000/svg"
                     fill="currentColor"
                     viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                </svg>
                <span class="sr-only">Info</span>
                <div>
                    <span class="font-medium">Warning alert!</span> THe Balance is Low for the transaction the payment will be recorded as partial
                </div>
            </div>
        {% endif %}
    {% endif %}
    <div>
        <label for="selected_supplier"
               class="block text-sm font-medium text-gray-700">Supplier</label>
        <select name="selected_supplier"
                id="selected_supplier"
                u:change="check_supplier_remaining_balance"
                u:model="selected_supplier"
                class="mt-1 block w-full pl-3 pr-10 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option value="" disabled selected>Select a Supplier</option>
            {% for supplier in supplier_list %}<option value="{{ supplier.id }}">{{ supplier.name }}</option>{% endfor %}
        </select>
    </div>
    <!-- Bank Account Selection -->
    <div class="flex items-center">
        <input u:click="$toggle('cash')"
               type="checkbox"
               value="Cash"
               class="h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
        <label for="cash" class="ml-2 block text-sm font-medium text-gray-700">Pay with Cash</label>
    </div>
    <!-- Remaining Balance -->
    <div class="mt-2">
        {% if selected_supplier %}
            {% if supplier_remaining_balance <= 0 %}
                <p class="text-sm text-green-500">No Remaining Balance All Are Paid</p>
            {% else %}
                <p class="text-sm text-red-700">
                    Remaining Balance: <span class="font-semibold">{{ supplier_remaining_balance }}</span>
                </p>
            {% endif %}
        {% else %}
            <p class="text-sm text-green-500">No Remaining Balance</p>
        {% endif %}
    </div>
    <!-- Payment Method Selection -->
    <div>
        {% if cash %}
            <!-- Cash Selection -->
            Cash Balance: <span class="font-semibold">{{ cash_balance }}</span>
            <label for="cash_id" class="block text-sm font-medium text-gray-700">Cash Account</label>
            <div class="text-sm text-gray-600 mb-1"></div>
            <select u:model="cash_id"
                    u:change="get_cash_balance"
                    name="cash_id"
                    id="cash_id"
                    class="mt-1 block w-full pl-3 pr-10 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                {% for accounts in cash_list %}<option value="{{ accounts.id }}">{{ accounts.name }}</option>{% endfor %}
            </select>
        {% else %}
            <!-- Bank Selection -->
            <label for="bank_id" class="block text-sm font-medium text-gray-700">Bank Account</label>
            <div class="text-sm text-gray-600 mb-1">
                Bank Balance: <span class="font-semibold">{{ bank_balance }}</span>
            </div>
            <select name="bank"
                    u:model="bank_id"
                    id="bank_id"
                    u:change="get_bank_balance"
                    class="mt-1 block w-full pl-3 pr-10 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                {% for accounts in bank_list %}<option value="{{ accounts.id }}">{{ accounts.name }}</option>{% endfor %}
            </select>
        {% endif %}
    </div>
    <!-- Payment Input -->
    <div>
        <label for="payment" class="block text-sm font-medium text-gray-700">Payment Amount</label>
        <input type="number"
               min="1"
               u:model="amount"
               {% if bank_balance %}max="{{ bank_balance }}"{% endif %}
               {% if cash_balance %}max="{{ cash_balance }}"{% endif %}
               id="payment"
               name="payment"
               class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" />
        <label for="payment_date" class="block text-sm font-medium text-gray-700">Payment Date</label>
        <input type="date"
               u:model="payment_date"
               id="payment_date"
               name="payment_date"
               class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" />
        <label for="transaction_id" class="block text-sm font-medium text-gray-700">Transaction Id</label>
        <input type="text"
               u:model="transaction_id"
               id="transaction_id"
               name="transaction_id"
               class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" />
    </div>
    <!-- Submit Button -->
    <div class="text-right">
        <button u:click="make_payment"
                class="bg-indigo-600 hover:bg-indigo-700 text-white font-medium rounded-md py-2 px-4 shadow-sm">
            Create Payment
        </button>
    </div>
</div>
