<div class="space-y-6 bg-white p-6 rounded-lg shadow-md">
    {% load unicorn %}
    <!-- Supplier Selection -->
    <a href="{% url 'payments_made' %}" class="underline text-blue-400"> List all the payments made</a>
    {% if bank_balance %}
    {% if bank_balance < supplier_remaining_balance %}
    <div class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
        role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <div>
            <span class="font-medium">Warning alert!</span> THe Balance is Low for the transaction the payment will be
            recorded as partial
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% if cash_balance %}
    {% if cash_balance < supplier_remaining_balance %}
    <div class="flex items-center p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
        role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <div>
            <span class="font-medium">Warning alert!</span> THe Balance is Low for the transaction the payment will be
            recorded as partial
        </div>
    </div>
    {% endif %}
    {% endif %}
    <div>
        <label for="selected_supplier" class="block text-sm font-medium text-gray-700">Supplier</label>
        <select name="selected_supplier" id="selected_supplier" u:change="check_supplier_remaining_balance"
            u:model="selected_supplier"
            class="mt-1 block w-full pl-3 pr-10 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            <option value="" disabled selected>Select a Supplier</option>
            {% for supplier in supplier_list %}<option value="{{ supplier.id }}">{{ supplier.name }}</option>
            {% endfor %}
        </select>
    </div>
    <!-- Bank Account Selection -->
    <div class="flex items-center">
        <input u:click="$toggle('cash')" type="checkbox" value="Cash"
            class="h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500">
        <label for="cash" class="ml-2 block text-sm font-medium text-gray-700">Pay with Cash</label>
    </div>
    <!-- Remaining Balance -->
    <div class="mt-2">
        {% if selected_supplier %}
        {% if supplier_remaining_balance <= 0 %}
        <p class="text-sm text-green-500">No Remaining Balance All Are Paid</p>
        {% else %}
        <p class="text-sm text-red-700">
            Remaining Balance: <span class="font-semibold">{{ supplier_remaining_balance }}</span>
        </p>
        {% endif %}
        {% else %}
        <p class="text-sm text-green-500">No Remaining Balance</p>
        {% endif %}
    </div>
    <!-- Payment Method Selection -->
    <div>
        {% if cash %}
        <!-- Cash Selection -->
        Cash Balance: <span class="font-semibold">{{ cash_balance }}</span>
        <label for="cash_id" class="block text-sm font-medium text-gray-700">Cash Account</label>
        <div class="text-sm text-gray-600 mb-1"></div>
        <select u:model="cash_id" u:change="get_cash_balance" name="cash_id" id="cash_id"
            class="mt-1 block w-full pl-3 pr-10 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            {% for accounts in cash_list %}<option value="{{ accounts.id }}">{{ accounts.name }}</option>{% endfor %}
        </select>
        {% else %}
        <!-- Bank Selection -->
        <label for="bank_id" class="block text-sm font-medium text-gray-700">Bank Account</label>
        <div class="text-sm text-gray-600 mb-1">
            Bank Balance: <span class="font-semibold">{{ bank_balance }}</span>
        </div>
        <select name="bank" u:model="bank_id" id="bank_id" u:change="get_bank_balance"
            class="mt-1 block w-full pl-3 pr-10 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
            {% for accounts in bank_list %}<option value="{{ accounts.id }}">{{ accounts.name }}</option>{% endfor %}
        </select>
        {% endif %}
    </div>
    <!-- Payment Input -->
    <div>
        <label for="payment" class="block text-sm font-medium text-gray-700">Payment Amount</label>
        <input type="number" min="1" u:model.defer="amount" {% if bank_balance %}max="{{ bank_balance }}" {% endif %}
            {% if cash_balance %}max="{{ cash_balance }}" {% endif %} id="payment" name="payment"
            class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" />
        <p id="date-error" class="text-red-600 text-sm mt-1">{{ unicorn.errors.amount.0.message.0 }}</p>

        <label for="payment_date" class="block text-sm font-medium text-gray-700">Payment Date</label>
        <input type="date" u:model="payment_date" id="payment_date" name="payment_date"
            class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" />
        <p id="date-error" class="text-red-600 text-sm mt-1">{{ unicorn.errors.payment_date.0.message.0 }}</p>
        <label for="transaction_id" class="block text-sm font-medium text-gray-700">Transaction Id</label>

        <input type="text" u:model="transaction_id" id="transaction_id" name="transaction_id"
            class="mt-1 block w-full pl-3 pr-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" />
    </div>
    <!-- Submit Button -->
    <div class="text-right">
        <button u:click="make_payment" type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center">
            <span u:loading>
                <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-white animate-spin"
                    viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                        fill="#E5E7EB" />
                    <path
                        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                        fill="currentColor" />
                </svg>
            </span>
            Create
        </button>

    </div>
</div>