{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
Purchase List
{% endblock title %}

{% block main %}
{{filter.form.purchase_date_range.value.0}}

<div class="container mx-auto p-6 flex flex-col md:flex-row">

    <!-- Main Content -->
    <div class="w-full md:w-4/5">
        <h1 class="text-3xl font-semibold mb-6">Purchase List</h1>
        {% include 'partials/_search.html' with search_input='purchase_search' table_id='purchase_table' %}

        <!-- Purchase Table -->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500" id="purchase_table">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">ID</th>
                        <th scope="col" class="px-6 py-3">Supplier</th>
                        <th scope="col" class="px-6 py-3">Purchase Date</th>
                        <th scope="col" class="px-6 py-3">Total Amount</th>
                        <th scope="col" class="px-6 py-3">Received Date</th>
                        <th scope="col" class="px-6 py-3">Created At</th>
                        <th scope="col" class="px-6 py-3">Updated At</th>
                    </tr>
                </thead>
                <tbody>
                    {% for purchase in filter.qs %}
                    <tr class="bg-white border-b ">
                        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                            <a href="{% url 'purchase_detail' id=purchase.id %}"
                                class="text-blue-600 hover:underline">{{ purchase.id }}</a>
                        </td>
                        <td class="px-6 py-4">
                            <a href="{% url 'supplier_detail' supplier_id=purchase.supplier.id %}"
                                class="text-blue-600 hover:underline">{{ purchase.supplier.name }}</a>
                        </td>
                        <td class="px-6 py-4">{{ purchase.purchase_date | date }}</td>
                        <td class="px-6 py-4">{{ purchase.total_amount }}</td>
                        <td class="px-6 py-4">{{ purchase.received_date | date }}</td>
                        <td class="px-6 py-4">{{ purchase.created_at | date }}</td>
                        <td class="px-6 py-4">{{ purchase.updated_at | date }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="px-6 py-4 text-center">No purchases found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="fixed top-0 right-0 z-40 w-64 h-screen pt-20 transition-transform translate-x-full bg-white border-l border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
        id="sidebar">
        <div class="bg-white p-6 shadow-md rounded-lg dark: bg-gray-800">
            <h2 class="text-2xl font-semibold mb-4 ">Filter Purchases</h2>
            <form action='.' id="purchase_filter" method="get" class="space-y-6 ">
                <div class="grid md:grid-cols-1 md:gap-6">
                    <div>
                        <label for="{{ filter.form.supplier.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Supplier</label>
                        {% render_field filter.form.supplier class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                    </div>
                    <div>
                        <label for="{{ filter.form.invoice_number.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Invoice Number</label>
                        {% render_field filter.form.invoice_number class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Enter invoice number" %}
                    </div>
                </div>

                <div class="grid md:grid-cols-1 md:gap-6">
                    <div>
                        <label for="{{ filter.form.purchase_date.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Purchase Date</label>
                        {% render_field filter.form.purchase_date|attr:'type:date' class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                    </div>
                    <div>
                        <label for="{{ filter.form.received_date.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900
                        ">Received Date</label>
                        {% render_field filter.form.received_date|attr:'type:date' class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                    </div>
                    <div>
                        <label for="{{ filter.form.order_date.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Order Date</label>
                        {% render_field filter.form.order_date|attr:'type:date' class+="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %}
                    </div>
                    <div>
                        <label for="" class="block mb-2 text-sm font-medium text-gray-900">
                            Purchase After</label>
                        <input value="{{filter.form.purchase_date_range.value.0}}" type="date"
                            name="purchase_date_range_after"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                        <label for="" class="block mb-2 text-sm font-medium text-gray-900">
                            Purchase Before</label>
                        <input value="{{filter.form.purchase_date_range.value.1}}" type="date"
                            name="purchase_date_range_before"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />

                    </div>

                </div>

                <div class="grid md:grid-cols-1 md:gap-6">
                    <div>
                        <label for="{{ filter.form.total_amount.id_for_label }}"
                            class="block mb-2 text-sm font-medium text-gray-900">Total Amount</label>
                        {% render_field filter.form.total_amount class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="0.00" %}
                    </div>

                </div>

                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>

            </form>

        </div>
    </div>
</div>
{% endblock main %}