{% extends "base.html" %}
{% block title %}
{{purchase.invoice_number}} | {{ super }}
{% endblock title %}
{% block main %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-8">{{ purchase.supplier.name | upper }} Refrences: {{ purchase.invoice_number }}
    </h1>
    <hr>
    <!-- Purchase Information -->
    <h1 class="text-2xl mt-8 mb-4">Invoice Detail</h1>
    <div class="bg-white shadow-md rounded my-6">
        <div class="overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm">
                        <th class="py-3 px-6 text-left">Purchase Invoice Number</th>
                        <th class="py-3 px-6 text-left">Supplier</th>
                        <th class="py-3 px-6 text-left">Purchase Date</th>
                        <th class="py-3 px-6 text-left">Total Amount</th>
                        <th class="py-3 px-6 text-left">Received Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left whitespace-nowrap">{{ purchase.invoice_number }}</td>
                        <td class="py-3 px-6 text-left">{{ purchase.supplier.name }}</td>
                        <td class="py-3 px-6 text-left">{{ purchase.purchase_date }}</td>
                        <td class="py-3 px-6 text-left">{{ purchase.total_amount }}</td>
                        <td class="py-3 px-6 text-left">{{ purchase.received_date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Purchase Items -->
    <h2 class="text-2xl mt-8 mb-4">Purchase Items</h2>

    <!-- Search Form -->

    <!-- Purchase Items Table -->
    <div class="bg-white shadow-md rounded my-6">
        <div class="overflow-x-auto">
            <table class="w-full table-auto">
                <thead>
                    <tr class="bg-gray-200 text-gray-600 uppercase text-sm">
                        <th class="py-3 px-6 text-left">Product</th>
                        <th class="py-3 px-6 text-left">Quantity</th>
                        <th class="py-3 px-6 text-left">Price</th>
                        <th class="py-3 px-6 text-left">Received Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in purchase_items %}
                    <tr class="border-b border-gray-200 hover:bg-gray-100">
                        <td class="py-3 px-6 text-left">{{ item.product.name }} ({{ item.product.sku }})</td>
                        <td class="py-3 px-6 text-left">{{ item.quantity }}</td>
                        <td class="py-3 px-6 text-left">{{ item.price }}</td>
                        <td class="py-3 px-6 text-left">{{ item.received_quantity }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="py-3 px-6 text-left text-gray-500">No items found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock main %}