{% extends "base.html" %}
{% load partials %}
{% block main %}
<div class="flex justify-between items-center mb-4">
    {% include 'partials/_search.html' with table_id="movement_table" %}

</div>
<h1 class="text-2xl font-semibold mb-4">Movement</h1>
<table class="min-w-full bg-white border" id="movement_table">
    <thead>
        <tr>
            <th class="py-2 px-4 border">Product</th>
            <th class="py-2 px-4 border text-green-600">Stock In</th>
            <th class="py-2 px-4 border text-red-600">Stock Out</th>
            <th class="py-2 px-4 border text-red-600">Total Quantity</th>
            <th class="py-2 px-4 border">Movement Type</th>
            <th class="py-2 px-4 border">Description</th>
        </tr>
    </thead>
    <tbody>
        {% for movement in movements %}
        <tr>
            <td class="py-2 px-4 border">
                <a href="{% url 'product_analytics' movement.product.id %}" class="underline">
                    {{ movement.product.name }}
                </a>
            </td>
            {% if movement.movement_type == "IN" or movement.movement_type == "IN SALES RETURN" %}
            <td class="py-2 px-4 border text-green-600">{{ movement.quantity }}</td>
            <td class="py-2 px-4 border"></td>
            <!-- Empty column for out movements -->
            {% elif movement.movement_type == "OUT" or movement.movement_type == "OUT PURCHASE RETURN" %}
            <td class="py-2 px-4 border"></td>
            <!-- Empty column for in movements -->
            <td class="py-2 px-4 border text-red-600">{{ movement.quantity }}</td>
            {% endif %}
            <td class="py-2 px-4 border">{{ movement.product.stock_quantity }}</td>
            <td class="py-2 px-4 border">{{ movement.movement_type }}</td>
            <td class="py-2 px-4 border">{{ movement.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}