{% extends 'base.html' %}

{% block main %}
<h1 class="text-3xl font-bold pb-4">Payments Received <span><a href="{% url 'payments_received_create' %}" class="text-sm underline font-italic"> Add Payment made</a></span></h1>
<hr class="pb-4">

<div class="mb-4">
    <p>Total Payments Received: <span class="font-semibold">{{total_payments_received}}</span></p>
    <p>Last Payment Received Date: <span class="font-semibold">{{last_payment}}</span></p>
</div>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    {% include 'partials/_search.html' with table_id="payment_received" %}

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" id="payment_received">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">Supplier Name</th>
                <th scope="col" class="px-6 py-3">Amount</th>
                <th scope="col" class="px-6 py-3">Payment Method</th>
                <th scope="col" class="px-6 py-3">Transaction ID</th>
                <th scope="col" class="px-6 py-3">Payment Date</th>
            </tr>
        </thead>
        <tbody>
            {% if payments_received %}
            {% for payment in payments_received %}
            <tr class="bg-white border-b hover:bg-gray-50">
                <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{payment.customer.get_full_name}}
                </td>
                <td class="px-6 py-4">{{payment.amount}}</td>
                <td class="px-6 py-4">{{payment.payment_method|lower}}</td>
                <td class="px-6 py-4">{{payment.transaction_id|lower}}</td>
                <td class="px-6 py-4">
                    <a href="#"
                        class="font-medium text-blue-600 dark:text-blue-500 hover:underline">{{payment.payment_date}}</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5" class="px-6 py-4 text-center text-red-800 text-3xl">No Payments Received</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock main %}