{% load django_htmx %}
{% load unicorn %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "cdn_css.html" %}
        <title>
            {% block title %}
                {{ request.tenant |capfirst }}
            {% endblock title %}
            Ghato
        </title>
        <script defer src="https://unpkg.com/@alpinejs/morph@3.x.x/dist/cdn.min.js"></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        {% unicorn_scripts %}
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% csrf_token %}
        {% block style %}
        {% endblock style %}
        {% with request.user.is_authenticated as auth %}
            {% if auth %}
                {% include "partials/_sidebar.html" %}
            {% endif %}
            <main class="{% if auth %} authenticated-main p-4 pt-20 sm:ml-64 {% endif %}">
                {% include "partials/_messages.html" %}
                {% block main %}
                {% endblock main %}
                <script>console.log("{{auth}}")</script>
            </main>
        {% endwith %}
        {% block js %}
        {% endblock js %}
        {% include "cdn_script.html" %}
        {% django_htmx_script %}
    </body>
</html>
