{% load unicorn %}

{# djlint:off H031,H030 #}
{# djlint:off H006,H026 #}
<html lang="en">
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "cdn_css.html" %}
    <title>
        {% block title %}
        {{ request.tenant |capfirst }}
        {% endblock title %}
        Ghato
    </title>
    {% unicorn_scripts %}
</head>
{% endblock head %}

<body>
    {% block style %}
    {% endblock style %}

    {% include "partials/sidebar.html" %}
    <main class="authenticated-main p-4 pt-20 sm:ml-64 flex flex-col h-screen">
        {% block session_message %}
        {% include "partials/_messages.html" %}
        {% endblock session_message %}

        {% block main %}
        {% endblock main %}
    </main>
    {% block js %}
    {% endblock js %}
    {% include "cdn_script.html" %}

</body>


<script>

</script>


</html>